[Unit]
Description=Kamuee VRF creation
Before=network-pre.target
Requires=network-pre.target kamuee.service

[Service]
Type=simple
ExecStart=/opt/vrf-initializer/main.py -f /opt/vrf-initializer/config.json -d -t 5
[Install]
WantedBy=multi-user.target