[Unit]
Description=Kamuee VRF creation
Before=network-pre.target
Requires=network-pre.target kamuee.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/opt/vrf-initializer/main.py -f /opt/vrf-initializer/config.json -e -t 5
ExecStop=/opt/vrf-initializer/delete.py -f /opt/vrf-initializer/config.json
[Install]
WantedBy=multi-user.target